<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754039182296-d1ofs6hh1ekt85bpo288jlgdlbo6vl09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754039182296-d1ofs6hh1ekt85bpo288jlgdlbo6vl09</string>
	<key>API_KEY</key>
	<string>AIzaSyBldXWYIOv-bOtNWu30ItPiRLO0RzA0gXI</string>
	<key>GCM_SENDER_ID</key>
	<string>754039182296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ricardoG.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-9505c</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-9505c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754039182296:ios:190e541326b16122df98ad</string>
</dict>
</plist>